body {
    background-color: lightblue;
}
h1 {
    color: navy;
    margin-left: 20px;
}
.myForm {
    height: 20%;
    width: 20%;	
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    background-color: #b0e0e6;
}